 body{
   background-color:rgb(174, 37, 71);
   height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
 font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
 flex-direction: column; 
  justify-content: flex-start; 
}

.alert-container{
   width: 380px;
   display:flex;
   justify-content: center;
   margin-bottom:20px;
}
.alert {
  display: none;
  width: 300px;
  padding: 15px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
}


.alert.error{
   background-color:rgb(176, 80, 106);
   color: white;
   border: 1px solid black;
}
.alert.success{
  background:rgb(101, 194, 149);
  color:white;
  border: 1px solid black;
}

h1{
   color: rgb(192, 33, 33);
   font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
   margin-bottom: 20px;
 
}

 .createAccount-container{
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  width: 400px;
  text-align: center;
 }


 input {
  width: 90%;
  padding: 8px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.gender-group {
  display: flex;              
  justify-content: center;    
  align-items: center;        
  gap: 15px;                  
  margin-top: 10px;
}

.gender-group label {
  font-size: 16px;
}

button:hover {
  background-color: #d70f55;
}

button{
    background:green;
    padding: 5px;
    border-radius: 5px;
    width: 100px;

}